.ProductTitle {
    width : 100%;
    margin: 20px 0px;

    h1 {
        text-align     : center;
        font-size      : 2em;
        letter-spacing : 1px;
        font-family    : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform : capitalize;
        text-decoration: none;
        color          : White;
    }
}